/* .myTitleColor a {
    color: black;
} */

.myTitleFont a {
    font-weight: 700;
}
.myTitleHover a:hover {
    color: black;
}
.myTitleShow a.show {
    color: black;
}
.myTitleExanded a[aria-expanded="true"] {
    color: black;
}
.myTitleFocus a:focus {
    color: black;
}
